.wrapper {
    background-color:#516EBC;
    height: 100%;
    padding-top: 30px;
    justify-content: space-around;
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    overflow: auto;
}