
.card {
    background-color: #00529C;
    height: 250px;
    border-radius: 2px;
    width: 330px;
    position: relative;
    margin: 1rem;
    text-align: left;
    box-shadow: 7px 8px 1px #00529C;
}

.card > .img-container {
    padding-top: 50px;
    height: 100%;
    overflow: hidden;
    text-align: center;
    background: #050F2B;
}

.card > .img-container > img {
    width: 80%;
}

.card > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
}